extends _shared/_base

block body
    .gray-wrapper
        .container
            if success_msg && success_msg.length > 0
                 each msg in success_msg
                    div(class = "alert alert-success")|#{msg}
            if error_msg && error_msg.length > 0
                each msg in error_msg
                    div(class = "alert alert-danger")|#{msg}
            if error && error.length > 0
                each msg in error
                    div(class = "alert alert-danger")|#{msg}
            #left_panel.text-left.col-md-3.no-left-padding
                .search-panel
                    h3.panel-title Search for a property for Sell
                    hr
                    // SEARCH FORM
                    form#search-form(method='get', action='/sells')
                        #search_form_container
                            .form-group
                                label.control-label.col-sm-5(for='property')
                                    small Property
                                .control-field.col-sm-7.no-right-padding
                                    select.form-control.input-sm(name='property')
                                        option(value='All', selected='selected') All
                                        option(value='Apartament') Apartament
                                        option(value='House') House
                            .form-group
                                label.control-label.col-sm-5(for='province')
                                    small Province
                                .control-field.col-sm-7.no-right-padding
                                    select#p_type.form-control.input-sm(name='province')
                                        option(value='All', selected='selected') All
                                        each value in province
                                            option(value=value)
                                                =value
                            .form-group
                                label.control-label.col-sm-5(for='min_price')
                                    small Min price
                                .control-field.col-sm-7.no-right-padding
                                    input#price_from.form-control.input-sm(name='price_from', type='text')
                            .form-group
                                label.control-label.col-sm-5(for='min_price')
                                    small Max price
                                .control-field.col-sm-7.no-right-padding
                                    input#price_to.form-control.input-sm(name='price_to', type='text')
                            .form-group
                                label.control-label.col-sm-5(for='min_price')
                                    small Order by
                                .control-field.col-sm-7.no-right-padding
                                    select#order_by.form-control.input-sm(type='text', name='order_by')
                                        option(value='date', selected='selected') Date
                                        option(value='price') Price

                        input.btn.btn-primary.pull-right(style='width:145px;margin-top:4px', type='submit')
                    .clear
                    // END SEARCH FORM
                br
            #main_panel.col-md-9
                // FEATURED LISTINGS
                #myCarousel.carousel.slide
                    ol.carousel-indicators
                        each item,index in context
                            li(data-target='#myCarousel', data-slide-to=index)
                                if item.avatarUrl
                                    img.img-shadow.indicator-image(src=item.avatarUrl)
                                else
                                    img.img-shadow.indicator-image(src='static/pictures/sell/'+ item.avatar)
                    .carousel-inner
                        .item.slide-back
                            .container
                                .xcarousel-caption
                                    if context[0]
                                        a.carousel-link(href='sells/' + context[0]._id)
                                            if context[0].avatarUrl
                                                img.img-shadow.indicator-image(src=context[0].avatarUrl, style='margin-left:15px', height='160', align='right')
                                            else
                                                img.img-shadow(src='static/pictures/sell/'+ context[0].avatar, style='margin-left:15px', height='160', align='right')
                                            h3.no-top-margin.hide-xs=context[0].headline + ' , ' +context[0].price
                                            .carousel-text-container
                                                p.hide-xs=context[0].description
                                    br
                        .item.slide-back
                            .container
                                .xcarousel-caption
                                    if context[1]
                                        a.carousel-link(href='sells/' + context[1]._id)
                                            if context[1].avatarUrl
                                                img.img-shadow(src=context[1].avatarUrl, style='margin-left:15px', height='160', align='right')
                                            else
                                                img.img-shadow(src='static/pictures/sell/'+ context[1].avatar, style='margin-left:15px', height='160', align='right')
                                            h3.no-top-margin.hide-xs=context[1].headline + ' , ' +context[1].price
                                            .carousel-text-container
                                                p.hide-xs=context[1].description
                                    br
                        .item.slide-back.active
                            .container
                                .xcarousel-caption
                                    if context[2]
                                        a.carousel-link(href='sells/' + context[2]._id)
                                            if context[2].avatarUrl
                                                img.img-shadow(src=context[2].avatarUrl, style='margin-left:15px', height='160', align='right')
                                            else
                                                img.img-shadow(src='static/pictures/sell/'+ context[2].avatar, style='margin-left:15px', height='160', align='right')
                                            h3.no-top-margin.hide-xs=context[2].headline + ' , ' +context[2].price
                                            .carousel-text-container
                                                p.hide-xs=context[2].description
                                    br
                    a.left.carousel-control(href='#myCarousel', data-slide='prev')
                        img.carousel-icon(src='/static/pictures/carousel-arrow-left.png')
                    a.right.carousel-control(href='#myCarousel', data-slide='next')
                        img.carousel-icon(src='/static/pictures/carousel-arrow-right.png')
                
                
                // END FEATURED LISTINGS
