extends ../_shared/_base

block body
    .container
        .margin-top-5
        .pull-right
            a#show_search.visible-xs.visible-sm.pull-left.btn.btn-sm.btn-default.btn-gradient(href="javascript:ShowHide('left_panel')") Search for a property
        .clear
        br
        .col-md-9.text-left
            .panel.panel-default.results-info
                .number-results
                    | Total Results: 
                    b
                        =rentsCount
                .rfloat.r-margin-4.add-top-margin Results Format: 
                .clear
            .clear

            for rent in rents
                .results-container
                    .panel.panel-default.search-result
                        // template
                        // template
                        .panel-heading.featured-heading
                            h3.panel-title
                                a.search-result-title.featured-r-title(href='/rents/' + rent._id)
                                    =rent.headline
                                span.listing-price.r-margin-18
                                    b
                                        =rent.price
                        .panel-body
                            .row
                                .col-sm-5.col-xs-12
                                    a.btn-block.result-details-link(href='/rents/' + rent._id)
                                        img.img-res(alt=rent.headline, src='/static/pictures/rent/'+ rent.avatar)
                                .col-sm-7.col-xs-12
                                    .details
                                        p.description
                                            // template
                                            | Location: 
                                            b
                                                =rent.location
                                            br
                                            br
                                            | Bedrooms:
                                            b 1
                                            | Bathrooms:
                                            b 1
                                            | , 
                                            br
                                            br
                                            b
                                            =rent.description
                                        span.is_r_featured .
                            .row.margin-top-20
                                .col-xs-6
                                .col-xs-6
                                    .text-right
                                        a.btn.btn-primary(href='/rents/' + rent._id) Details

            .clear
            ul.pagination
                if page===1
                    li.page-item.disabled
                        a.page-link(href='#', tabindex='-1') Previous
                else
                    li.page-item
                        a.page-link(href=`/rents/all?property=${searchQuery.property}&province=${searchQuery.location}&price_from=${searchQuery.min}&price_to=${searchQuery.max}&order_by=${searchQuery.orderBy}&page=${page-1}`) Previous                        
                - for(let i = 1; i <= pages; i+=1 )
                    if(page===i)
                        li.page-item.active
                            a.pagination-link(href='#')=page
                    else
                        li.page-item
                            a.pagination-link(href=`/rents/all?property=${searchQuery.property}&province=${searchQuery.location}&price_from=${searchQuery.min}&price_to=${searchQuery.max}&order_by=${searchQuery.orderBy}&page=${i}`)=i
                if page===pages
                    li.page-item.disabled
                        a.page-link(href='#', tabindex='-1') Next
                else
                    li.page-item
                        a.page-link(href=`/rents/all?property=${searchQuery.property}&province=${searchQuery.location}&price_from=${searchQuery.min}&price_to=${searchQuery.max}&order_by=${searchQuery.orderBy}&page=${page+1}`) Next 