extends ../_shared/_base

block body
    .container
        br
        .col-md-8.text-left
            h2.lfloat 
                =context.headline 
                | &nbsp;
                =context.price
            .clear
            if success_msg && success_msg.length > 0
                each msg in success_msg
                    div(class = "alert alert-success")|#{msg}
            if error_msg && error_msg.length > 0
                each msg in error_msg
                    div(class = "alert alert-danger")|#{msg}
            if error && error.length > 0
                each msg in error
                    div(class = "alert alert-danger")|#{msg}
            br
            .justify-align
                .tabbable
                    ul.nav.nav-tabs
                        li.active
                            a(href='#tab-details', data-toggle='tab') Details
                        li
                            a(href='#tab-location', data-toggle='tab') Location

                    .tab-content
                        br
                        #tab-details.tab-pane.active
                            .col-md-12
                                if context.avatarUrl
                                    a(href=context.avatarUrl, rel='prettyPhoto[ad_gal]')
                                        img(src=context.avatarUrl, width='300')
                                else
                                    a(href='/static/pictures/sell/' + context.avatar, rel='prettyPhoto[ad_gal]')
                                        img(src='/static/pictures/sell/' + context.avatar, width='300')
                            .col-md-6.final-result-image
                                ul  
                                    li.property-meta-item
                                        i.fa.fa-fw.icon.fa-map-marker
                                        =context.address
                                    li.property-meta-item
                                        i.fa.fa-fw.icon.fa-home
                                        =context.property
                                    li.property-meta-item
                                        =context.size + " m2"
                                    li.property-meta-item
                                        i.fa.fa-fw.icon.fa-bed
                                        =context.bedrooms
                                    li.property-meta-item
                                        i.fa.fa-fw.icon.fa-bath
                                        =context.bathrooms
                            .panel.panel-default.col-md-12.final-result-image
                                .panel-heading
                                    h4.panel-title Description
                                |               
                                .panel-body
                                    =context.description
                                br
                                br
                            .clear
                            hr
                            | Posted on:
                            b
                                = context.date
                            //- | , 
                            //- | Total Hits: 
                            //- b 760
                        #tab-location.tab-pane  
                            .maps
                                img(src='https://maps.googleapis.com/maps/api/staticmap?center='+context.lat+','+context.lng+'&markers=color:red%7C'+context.lat+','+context.lng+'&zoom=7&size=800x400&key=AIzaSyAUEyyA9gmlFmNHzLDhagVdO1cTtCvp5DE')
        .col-md-4.text-center
            .panel.text-center.contact-agent-container
                .panel-body
                    p
                        img.img-circle(src='/static/pictures/img/'+ context.user.avatar)
                    p
                        a.sidebar-link(href='#')
                            strong 
                                = context.user.fullname
                    a.btn.btn-primary.overlay-btn(href='#')
                        | Contact Agent
            nav#sidebar-wrapper(class='navbar navbar-default')
                h3.category.text-left
                    | Contact Agent
                .sidebar-block
                    .row
                        .col-lg-8.text-left
                            form(action='/sells/sendmail', method='post')
                                .form-group.form-control-default.required
                                    label(for='fullname') Full Name
                                    if user 
                                        input#fullname(type='text', name='fullname', placeholder='Your Full Name', class='form-control', required='', value=user.firstname )
                                    else
                                        input#fullname(type='text', name='fullname', placeholder='Your Full Name', required='', class='form-control')
                                .form-group.form-control-default.required
                                    label(for='phone') Phone
                                    if user && user.phone
                                        input#phone(type='text',name='phone', placeholder='Contact Phone', required='', class='form-control', value=user.phone)
                                    else
                                        input#phone(type='text',name='phone', placeholder='Contact Phone', required='', class='form-control')
                                .form-group.form-control-default.required
                                    label(for='email') Email Address
                                    if user && user.email
                                        input#email(type='text', name='email', placeholder='Enter your Email', required='', class='form-control', value=user.email)
                                    else
                                        input#email(type='text', name='email', placeholder='Enter your Email', required='', class='form-control')
                                .form-group.form-control-default.required
                                    label(for='subject') Subject
                                    input#subject(type='text',name='subject', placeholder='Enter your Subject', required='', class='form-control', value=context.headline)
                                .form-group.form-control-default.required
                                    label(for='message') Message
                                    textarea#message(type='text',name='message', placeholder='Enter your Message', required='', class='form-control', maxlength='140', rows='7')
                                    span.help-block
                                        p#characterLeft(class='help-block140') 140 characters left
                                    input(type='hidden', name='id', value=context.id)
                                button.btn.btn-primary(type='submit') Submit
                                button.btn.btn-default.close-sidebar
                                    i.fa.fa-times.fa-fw
                                    | Cancel
                        .col-md-4.visible-lg.text-center
                            .profile    
                                img.img-circle(src='/static/pictures/img/'+ context.user.avatar)
                                h4.sidebar-heading
                                    = context.user.fullname
                            ul  
                                li 
                                    = context.user.phone
                                li
                                    a.sidebar-link(href='#')
                                        = context.user.email

block script
    script(src='/libs/socket.io-client/dist/socket.io.js')                                           
    script
        | System.import('functions');
    script
        | System/import('comments');