extends ../_shared/_base

block body
    .container
        br
        .col-md-9.text-left
            form#sell_form(action="/sells/"+context._id method="POST",enctype='multipart/form-data')
                input.form-control.input-sm(type="hidden", name="id", value=context._id)
                .form-group
                    h3.no-top-margin.text-center
                        | Property Details
                    hr
                    br
                    if success_msg && success_msg.length > 0
                        each msg in success_msg
                            div(class = "alert alert-success")|#{msg}
                    if error_msg && error_msg.length > 0
                        each msg in error_msg
                            div(class = "alert alert-danger")|#{msg}
                    if error && error.length > 0
                        each msg in error
                            div(class = "alert alert-danger")|#{msg}
                    label.control-label.col-sm-2(for='headline')
                        | Headline:
                    .control-field.col-sm-10.no-right-padding
                        input.form-control.input-sm(type='text', name='headline', value=context.headline)
                        i
                        | if you leave empty, it will look like 'Apartment for sale in New York
                        br
                .form-group.col-md-4
                    br
                    | Property:
                    br
                    select.form-control.input-sm(name='property')
                        each property in ["undefined","Apartament", "House",""]
                            if (property === context.property)
                                option(value=`${property}` selected)= property
                            else if (property === 'undefined') 
                                option(value='' selected) Please Select
                            else
                                option(value=`${property}`)= property
                .form-group.col-md-8
                    br
                    | Province:
                    br
                    select#user_type.form-control.input-sm(name='location')
                        each location in province
                            if (location === context.location)
                                option(value=`${location}` selected)= location
                            else if (location === 'undefined') 
                                option(value='' selected) Please Select
                            else
                                option(value=`${location}`)= location
                .form-group.col-md-4
                    br
                    | Price (€):
                    br
                    input.form-control.input-sm(type='number', name='price', value = context.price)
                .form-group.col-md-4
                    br
                    | Size
                    br
                    input.form-control.input-sm(type='text', name='size', value = context.size)
                .form-group.col-md-4
                    br
                    | Bedrooms:
                    br
                    select.form-control.input-sm(name='bedrooms')
                        each bedrooms in ["undefined","1","2","3","4","5","6+"]
                            if (bedrooms === context.bedrooms)
                                option(value=`${bedrooms}` selected)= bedrooms
                            else if (bedrooms === 'undefined') 
                                option(value='' selected) Please Select
                            else
                                option(value=`${bedrooms}`)= bedrooms
                .form-group.col-md-4
                    br
                    | Bathrooms:
                    br
                    select.form-control.input-sm(name='bathrooms')
                        each bathrooms in ["undefined","1","2","3","4+"]
                            if (bathrooms === context.bathrooms)
                                option(value=`${bathrooms}` selected)= bathrooms
                            else if (bathrooms === 'undefined') 
                                option(value='' selected) Please Select
                            else
                                option(value=`${bathrooms}`)= bathrooms
                .form-group.col-md-4
                    br
                    | Floor:
                    br
                    input.form-control.input-sm(type='text', value = context.floor, name='floor')
                .form-group.col-md-4
                    br
                    | Floors in building:
                    br
                    input.form-control.input-sm(type='text', value = context.buildingfloors, name='buildingfloors')
                .clearfix
                //- br
                //- h3
                //-     | Property Amenities
                //- hr
                //- .form-group.col-md-4
                //-     if (context.lift === "lift")
                //-         input(type='checkbox', value='lift', name='lift',checked)
                //-     else
                //-         input(type='checkbox', value='lift', name='lift')
                //-     span.listing-feature-span
                //-     | asansior
                //- .form-group.col-md-4
                //-     if (context.garden === "garden")
                //-         input(type='checkbox', value='garden', name='garden',checked)
                //-     else
                //-         input(type='checkbox', value='garden', name='garden')
                //-     span.listing-feature-span
                //-     | garden
                //- .clearfix
                .form-group
                br
                h3
                    | Description
                .clear
                hr
                textarea.pull-left(cols='80', rows='7', name='description')=context.description
                .clear
                br
                .form-group
                    br
                    h3
                        | Add a Google Map to Your Listing
                    .clear
                    hr
                    label.control-label.col-sm-2(for='address')
                        | Address
                    .control-field.col-sm-10.no-right-padding
                        input(type="text", style="float:left !important", size="60", id="address", name="address", value=context.address, placeholder="The address of the property")
                    div#map-location
                    input#lat(type="hidden", name="lat", value=context.lat)
                    input#lng(type="hidden", name="lng", value=context.lng)
                .form-group
                    label.control-label.col-sm-2(for='avatar')
                        | Avatar:
                    .control-field.col-sm-6.no-right-padding
                        input.form-control.input-sm(type='file', name='avatar', accept='.jpg,.jpeg,.png')
                br
                br
                input.btn.btn-default.btn-gradient.pull-right(type='submit', value=' Submit ')
                .clear
                br
                br
block script                
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDfC5X1qhmU-V6X5WUhfCyF7-UIWgZO4m4&sensor=false&libraries=places,drawing')
    script
        | System.import("googlemap");

