extends ../_shared/_base

block body
    .container
        br
        .col-md-9.text-left
            form#sell_form(action="/sells" method="POST",enctype='multipart/form-data')
                .form-group
                    br
                    h1
                        | Add new Sale
                    hr
                    br
                    h3.no-top-margin.text-left
                        | Property Details
                    if success_msg && success_msg.length > 0
                        each msg in success_msg
                            div(class = "alert alert-success")|#{msg}
                    if error_msg && error_msg.length > 0
                        each msg in error_msg
                            div(class = "alert alert-danger")|#{msg}
                    if error && error.length > 0
                        each msg in error
                            div(class = "alert alert-danger")|#{msg}
                    hr
                    br
                    label.control-label.col-sm-2(for='headline')
                        | Headline:
                    .control-field.col-sm-10.no-right-padding
                        input.form-control.input-sm(type='text', name='headline', value='')
                        i
                        | if you leave empty, it will look like 'Apartment for sale in Sofia'
                        br
                .form-group.col-md-4
                    br
                    | Property:
                    br
                    select.form-control.input-sm(name='property', required='')
                        option(value='') Please Select
                        each value in ["Apartament", "House"]
                            option(value=value)
                                =value
                .form-group.col-md-8
                    br
                    | Province:
                    br
                    select#user_type.form-control.input-sm(name='location', required='')

                        option(value='') Please Select
                        each value in province
                            option(value=value)
                                =value
                .form-group.col-md-4
                    br
                    | Price (€):
                    br
                    input.form-control.input-sm(type='text', name='price', value='', required='')
                .form-group.col-md-4
                    br
                    | Size
                    br
                    input.form-control.input-sm(type='text', name='size', value='', required='')
                .form-group.col-md-4
                    br
                    | Bedrooms:
                    br
                    select.form-control.input-sm(name='bedrooms', required='')
                        option(value='') Please Select
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                        option 6
                        option 7+
                .form-group.col-md-4
                    br
                    | Bathrooms:
                    br
                    select.form-control.input-sm(name='bathrooms', required='')
                        option(value='') Please Select
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5+
                .form-group.col-md-4
                    br
                    | Floor:
                    br
                    input.form-control.input-sm(type='text', value='', name='floor', required='')
                .form-group.col-md-4
                    br
                    | Floors in building:
                    br
                    input.form-control.input-sm(type='text', value='', name='buildingfloors', required='')
                .clearfix
                //- br
                //- h3
                //-     | Property Amenities
                //- hr
                //- .form-group.col-md-4
                //-     input(type='checkbox', value='lift', name='lift')
                //-     span.listing-feature-span
                //-     | asansior
                //- .form-group.col-md-4
                //-     input(type='checkbox', value='garden', name='garden')
                //-     span.listing-feature-span
                //-     | garden
                //- .clearfix
                .form-group
                br
                h3
                    | Description
                .clear
                hr
                textarea.pull-left(cols='80', rows='7', name='description')
                .clear
                br
                .form-group
                    br
                    h3
                        | Add a Google Map to Your Listing
                    .clear
                    hr
                    label.control-label.col-sm-2(for='address')
                        | Address
                    .control-field.col-sm-10.no-right-padding
                        input(type="text", style="float:left !important", size="60", id="address", name="address", value="", placeholder="The address of the property", required='')
                    div#map-location
                    input#lat(type="hidden", name="lat", value="")
                    input#lng(type="hidden", name="lng", value="")
                .form-group
                    h3
                        | Please fill one of following
                    .clear
                    hr
                    label.control-label.col-sm-2(for='avatarUrl')
                        | AvatarURL:
                    .control-field.col-sm-10.no-right-padding
                        input.form-control.input-sm(type='text', name='avatarUrl', value='')
                br
               
                .form-group
                    label.control-label.col-sm-2(for='avatar')
                        | Avatar:
                    .control-field.col-sm-6.no-right-padding
                        input.form-control.input-sm(type='file', name='avatar', accept='.jpg,.jpeg,.png')
                    br
                input.btn.btn-default.btn-gradient.pull-right(type='submit', value=' Submit ')
                .clear
                br
                br
block script                
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDfC5X1qhmU-V6X5WUhfCyF7-UIWgZO4m4&sensor=false&libraries=places,drawing')
    script
        | System.import("googlemap");
